<p>Trading Cards (lol)</p>

<% @trading_cards.each do |card| %>
<hr>
<p>id: <%= card.id %></p>
<p>name: <%= card.name %></p>
<p>element: <%= card.element %></p>
<p>hp: <%= card.hp %></p>
<p>set: <%= card.set %></p>
<a href="/trading_cards/<%= card.id %>">Go To Show Page</a>
<% end %>
<hr>