<p> it works ig </p>

<hr>
<p>id: <%= @trading_card.id %></p>
<p>name: <%= @trading_card.name %></p>
<p>element: <%= @trading_card.element %></p>
<p>hp: <%= @trading_card.hp %></p>
<p>set: <%= @trading_card.set %></p>