<!DOCTYPE html>
<html>
  <head>
    <title>TcgFullstack</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <a href="/trading_cards/">MY TCG WEBSITE</a> | 
  <a href="/trading_cards/new">Make New Card</a> | 
    <a href="/pokemons">View Pokemon</a> | 
  <%= yield %>
  </body>
</html>
